/* src/layouts/RootLayout.module.css */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 0 20px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 0px 128px;
  width: 1184px;
  height: 48px;
}
.logonav {
  display: flex;
  justify-content: space-between;
  width: 661px;
}
.logo {
  min-width: 133px;
  height: 28px;
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--text);
}
.iconUkr {
  width: 28px;
  height: 28px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: auto;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  line-height: 20px;
  letter-spacing: 0%;
}

.link {
  color: var(--text);
  text-decoration: none;

  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
}

.link:hover {
  color: #f4c550;
  opacity: 1;
}

.active {
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;

  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  opacity: 1;
}

.actions {
  width: 255px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
}

.email {
  font-size: 14px;
  color: var(--muted);
}
.sectionbtnGhost {
  width: 76px;
  height: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}
.btnGhost {
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  line-height: 20px;
  letter-spacing: 0%;
  border: none;
  background: transparent;

  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 150ms ease, border-color 150ms ease;
}
.iconLogin {
  width: 20px;
  height: 20px;
  color: #f4c550;
}
.btnGhost:hover {
  background: none;
}

.btnPrimary {
  width: 166px;
  height: 48px;

  gap: 8px;
  border-radius: 12px;
  padding-top: 14px;
  padding-right: 39px;
  padding-bottom: 14px;
  padding-left: 39px;

  border: 0;
  background: #121417;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;

  line-height: 20px;
  letter-spacing: 0%;

  cursor: pointer;
  transition: opacity 150ms ease;
}

.btnPrimary:hover {
  opacity: 0.92;
}

.main {
  padding-top: 20px;
}
